# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# FastAPI / Uvicorn
*.log

# Docker
docker-data/
*.tar

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# pytest / coverage
.pytest_cache/
.coverage
